.events {
  background-color: $light;
  padding: 20px;
  @include phablet {
    padding: 80px 160px;
  }
  img {
    height: 30px;
    margin-top: 40px;
    @include phablet {
      height: auto;
      max-height: 85px;
      margin-top: 60px;
    }
  }
}