footer {
  padding: 40px 20px 20px;
  @include desktop {
    padding: 100px 0 40px;
  }
  a {
    &.email {
      font-family: Inter-Light;
      font-size: 18px;
      margin-top: 10px;
      @include desktop {
        font-size: 40px;
        margin-top: 20px;
      }
    }
  }

  .footer-link{
    font-size: 10px;
    opacity: 0.3;
    max-width: 100%;
    margin-top: 50px;
    @include desktop {
      font-size: 14px;
      margin-top: 70px;
    }
  }

  .button-wrapper {
    display: inline-block;
    margin: 0 auto; 
    @include desktop() {
      display: none;
    }
  }
}