/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black: #000000;
$dark:  #0E141A;
$light: #FAFAFA;
$red:   #e15555;
$pink:  #EE74B4;
$green: #22A19A;
$beje:  #CBA990;
$yellow: #F5AF36;
$white: #ffffff;

/*
--------------------------------------------------------------------------------
FONT COLORS
--------------------------------------------------------------------------------
*/
.pink { color: $pink; }
.beje { color: $beje; }
.green { color: $green; }
.yellow { color: $yellow; }
