/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black: #000000;
$dark:  #0E141A;
$light: #FAFAFA;
$red:   #e15555;
$pink:  #EE74B4;
$green: #22A19A;
$beje:  #CBA990;
$yellow: #F5AF36;
$white: #ffffff;
$olive_green: #84988F;
$purple: #A39EC5;
$orange: #F7A072;
$mint_green: #66EED8;
/*
--------------------------------------------------------------------------------
FONT COLORS
--------------------------------------------------------------------------------
*/
.pink { color: $pink; }
.beje { color: $beje; }
.green { color: $green; }
.yellow { color: $yellow; }
.olive_green { color: $olive_green}
.purple { color: $purple; }
.orange { color: $orange; }
.mint-green { color: $mint_green;}